.informacoes {
	top:60%;
	left: 50%;
	transform: translate(-50%, -55%);
	width: 500px;
	background-color: black;
	color: white;
	position: absolute;
	padding: 20px;
	border-radius: 20px;
    text-align: center;
}

h1{
    width: 100%;
    top: 5%;
    font-size: 70px;
    text-align: center;
    color: #fff;
    font-size: 60px;
}



