
.form{
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    outline: 2px solid blueviolet;
    position: absolute;
    min-height: 400px;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color:white;
    
    
}
#username, #password{
    width: 150px;
    height: 20px;
}
#password:hover{
    background: #ffffff;
    border: 1px solid #990000;
}
#username:hover{
    background: #ffffff;
    border: 1px solid #990000;
}
#submit{
    position: relative;
    top: 50px;
}
#submit:hover{
    color: #990000;
    padding: 5px;
}
label{
    font-size: 20px;
}
.nav{
    height: 50px;
    width: 310px;
    font-size: 30px;
    top:60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
    position: absolute;

    
}
a{
    text-decoration: none;
    color: aliceblue;
margin: 10px;
    

}
a:hover{
    text-decoration: underline;
}



